<!DOCTYPE html>
<html>
<head>
  <title>Weddingsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "The Event", root_path %>
	<%= link_to "Details", details_path %>

<%= yield %>

</body>
</html>
